<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Usar prefixo 'application' para variáveis da aplicação-->
    <add key="application.Dominio.Host"               value="192.168.0.15"/>
    <add key="application.Dominio.Usuario"            value="backoffice@orcozol.com.br"/>
    <add key="application.Dominio.Senha"              value="backo123"/>
    <add key="application.Dominio.Port"               value="25"/>
  </appSettings>
</configuration>